/*p{
    background-color: cornflowerblue;
}
html{
    background-image: url('g.png');
    height: 100px;
    width: 1px;
}*/
h1{
    color: blueviolet;
    background-color: aqua;
    position: fixed;
    margin: 100rm;
    padding: 100rm;

}
.back{
    background-image: url('g.png');
    height: 100em;
    width: 100em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position:  center;
}